.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(./images/illustration-art-open-fantasy-book-hd-wallpaper_594776-1121.avif)
}

.navbar-custom {
  background-color: #004d99; 
}

.nav-link {
  color: #fff !important;
}

.footer-custom {
  background-color: #002d66; 
}

.card-custom {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 250px;
}

.card-custom:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.selected {
  border: 5px solid red;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  height: calc(100% - 200px);
  overflow: hidden;
  background-color: orange;
  color: white;
}

.card-column {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-content {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.content-wrap {
  flex: 1; 
  padding-bottom: 50px; 
}

.text-muted {
  color: white !important;
  font-size: 2rem;
}
